#grid-main-container {
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    padding: 20px;
    grid-template-columns: 200px 1300px;
    grid-template-rows: 250px auto;
}

#grid-main-container > .grid-item, #grid-menu-container > .grid-item{
    background-color: white;
    border-radius: 1px;
    box-shadow: 5px 5px 8px #cfcfcf;
}

#grid-menu-container{
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    row-gap: 15px;
    grid-template-rows: auto 220px 220px;
    align-content: start;
}

#grid-item-top, #grid-item-main {
    grid-column-start: 2;
    grid-column-end: 3;
}
