body{
    background-color: aliceblue;
    font-family: 'Lato', sans-serif;
    color: grey;
}
#login_name{
    text-align: center;
    font-weight: 700;
}
input[type=text], select {
    padding: 8px 8px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#div-user-options{
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
#user_options_form{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    display:flex;
    justify-content: center;
}
#user_options_form .switch_labels {
    margin: 0px 20px 0px 10px;
}
#pl_display{
    font-size: 30px;
    text-align: center;
}
.account-btn{
    width: auto;
}
.account-btn img{
    height: 14px;
    margin-left: 10px;
    margin-top: 2px;
    margin-right: 60px;
}
.account-btn img:hover{
    cursor: pointer;
}
#grid-item-menu-3 hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #999999, #000000, #999999);
}
#journal-top-bar{
    display:flex;
    width: 100%;
    margin-left: 30%;
    margin-top: 10px;
}
#account_selection{
    width: auto;
}
/* -------------------------- toggle switch -------------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
#pl_display{
    font-size: 30px;
    text-align: center;
}

/* -------------------------- Charts -------------------------- */
#Win-Ratio-Center{
    position: relative;
    text-align: center;
    top: -46%;
    left: 0%;
    font-size: 30px;
}
